{% extends "base.html" %}


{% block title %} Hakkımızda-{{ setting.company }}{% endblock %}
{% block keywords %} {% endblock %}
{% block description %} {% endblock %}

{% block head %} 
	<link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block sidebar %} 
    {% include 'sidebar.html' %}
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %} 
  <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Anasayfa</a></li>
				<li class="active">About Us</li>
			</ul>
			{{ setting1.abouts|safe }}
		</div>
	</div>
	<!-- /BREADCRUMB --> 
{% endblock content %}





