{% extends "base.html" %}


{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %} 
	<link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block slider %} {% include 'slider.html' %} {% endblock %}

{% block index1 %} {% include 'index1.html' %} {% endblock %}